#post-modal-wrapper{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;

}
#post-modal {
  display:flex;
  width: 1100px;
  height:700px;
  background: white;
}

#post-modal-left{
  width:700px;

}
#post-modal-right{
  display:flex;
  flex-direction:column;
  width:400px;
  
}

#post-modal-image{
  width:700px;
  height:700px;
}

#post-modal-profile{
  width:100%;
  padding:10px 0 10px 5px;
}
#post-modal-profile-image{
  width:30px;
  margin: 0 5px 0 5px;
  float:left;
  border-radius:70%;
}
#post-modal-profile-nickname{
  display:inline-block;
  margin:auto 5px;
  font-size:10px;

}

#post-modal-content-container{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  border-top:1px solid rgba(216, 216, 216, 0.527);
}
#post-modal-content{
  margin:0 0 0 45px;
  font-size:10px;
}

#post-modal-comment-container{
  position:relative;
  border-top:1px solid rgba(216, 216, 216, 0.527);
  padding:5px 0 0 0;
}
#post-modal-like{
  font-size:12px;
  font-weight:600;
}

#post-modal-time{
  font-size:10px;
}

#post-modal-comment{
  
  margin:10px 0;
}
#post-modal-comment-input{
  width:82%;
  border:none;
  font-size:10px;
}

#post-modal-comment-input::placeholder{
  color:rgb(163, 163, 163);

}
#post-modal-comment-button{
  margin:0;
  width:15%;
  border:none;
  background-color: white;
  color:rgba(0, 140, 255, 0.336);
  font-weight:600;
  font-size:10px;
}

#post-modal-x{
  display:inline-block;
  position:absolute;
  width:20px;
  height:20px;
  top:10px;
  right:10px;

  z-index:101;
}


